.bordered {
    border-collapse: collapse;
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.my-element {
    overflow-x: auto;

}

#skill_categories, #positions, #all_skills_developers {
    outline: none;
}

div.developerForm div {
    clear: both;
    padding: 8px 0;
    overflow: hidden;
}

div.developerForm form {
    padding: 20px;
    font-family: Arial;
    font-size: 13px;
    display: inline-block;

    color: black;
}

div.developerForm label {
    padding-top: 6px;
    line-height: 18px;
    float: left;
    color: black;
    margin-right: 7px;
    width: 120px;
}

div.developerForm input, div.developerForm select, div.developerForm textarea {
    display: inline-block;
    width: 250px;
    height: 25px;
    padding: 4px;
    line-height: 18px;

    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.developerForm input:focus, select:focus, textarea:focus {

    outline: none;

}

div.developerForm select {
    width: 200px;
    height: auto;
}

div.developerForm textarea {
    height: auto;
}


div.developerForm button.showPass {
    display: inline-flex;
    align-items: center;
    padding: 2px 10px;
    outline: none !important;
    border-radius: 4px;
    background-repeat: repeat-x;
}

span.show_pass_text{
    line-height: 0;
}



div.developerForm button:hover, button[type=reset]:hover {
    background-position: 0 -15px;
}

div.developerForm input[type=checkbox], input[type=radio] {
    width: auto;
    height: auto;
    margin-left: 0;
    padding: 0;
    line-height: normal;
    float: left;
    border: none;
}

div.developerForm input[type=file] {
    background-color: #37393c;
    height: 27px;
    border: none;
}

div.developerForm input[disabled] {

    cursor: not-allowed;
}

div.developerForm button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

div.developerForm ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    float: left;
}

div.developerForm ul li {
    display: block;
    width: 100%;
    clear: both;
    margin: 0;
}

div.developerForm ul li label {
    float: none;
    padding: 0;
    width: auto;
    margin: 0 0 0 8px;
}

div.error_input {
    display: none;

}

div.error_input.not_exist {
    padding: 0;
    display: block;
}

.chosen-results {
    z-index: 9999 !important;
}

table.matrix {
    position: relative;
    z-index: 1;
}

#button_developers {
    font-weight: bold;
    text-decoration: none;

    user-select: none;
    padding: .8em 2em;
    outline: none;
          background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
   }

#button_developers:hover {
    cursor: pointer;
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}

.div-filter {
    display: flex;
    flex-wrap: wrap;
}


.preloader-ajax {
    display: none;
}
